@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');

*{
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
	padding: 0;
}

.logo{
	width: 50px;
	cursor: pointer;
	margin: 5px 0 ;
}

nav a{
	padding-left: 10px;
	color: #000;
}

#content span{
	font-size: 15px;
	padding-left: 250px;
}

#content button{
	width: 200px;
	height: 50px;
	font-size: 17px;
	border-radius: 10px;
	margin-top: 20px;
}

#hero{
	background-color: #373738;
	color: #FFF;
}

#content{
	padding: 20px;
	margin-left: 50px;
	text-align: center;
	font-size: 23px;
}

#img{
	padding-left: 200px;
}

#process h2{
	padding: 10px;
	text-align: center;
}

#process h4{
	text-align: center;
}

#process .row .col-md-6{
	border: 1px solid black;
	padding: 50px;
	color: #FFF;
}

#process img{
	width: 40%;
	align-items: center;
	margin-left: 30%;
}

#dark{
	background-color: #373738;
}

#res{
	padding: 25px;
}

#res img{
	width: 250px;
	height: 250px;
}

footer{
	background-color: #373738;
}

footer h3{
	color: #FFF;
	text-align: center;
	margin-bottom: 20px;
}

footer  .li-ic{
	margin-left: 400px;
}

footer .btn{
	background-color: #FFF;
	margin-left: 200px;
	color: #000;
}

@media only screen and (max-width: 600px){

footer .li-ic{
	margin-left: 100px;
}


}

@media only screen and (max-width: 600px){

footer .li-ic{
	margin-left: 100px;
}


}

